.home_banner {
    background-image: url("../assets/background4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 10%;
    padding-bottom: 10%;

    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

.home_banner h2 {
    font-size: 10em;
    text-align: center;
}

.home_banner p {
    padding-top: 80px;
    font-size: 1.7em;
    text-align: center;
}

.about_me{
    font-size: 1.5em;
}

.profile img{
    width: 80%;
    height: auto;
}

.contact li{
    display:inline;
    margin-right: 70px;
}